In [13]:
import pandas as pd 
import matplotlib.pyplot as plt

import numpy as np
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets
from argopy import DataFetcher as ArgoDataFetcher

argo_loader = ArgoDataFetcher()

ds = argo_loader.region([-85,-45,10.,20.,0,1000.,'2012-01','2012-12']).to_xarray()
df = ds.to_dataframe()


df.dropna()
df['YEAR'] = pd.DatetimeIndex(df['TIME']).year
df['MONTH'] = df['TIME'].dt.strftime('%b')
df['DATE'] = df['TIME'].dt.date
df_temp = df.rename(columns={'PRES': 'PRESSURE', 'PSAL': 'SALINITY','TEMP':'TEMPERATURE'})

df_temp.to_csv('task2_data.csv',index=False)

In [24]:
data = pd.read_csv('task2_data.csv')

month = data['MONTH'].unique()
month

array(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep',
       'Oct', 'Nov'], dtype=object)

In [25]:

plot_df = pd.DataFrame(columns=['Month','Temp_mean', 'Sal_mean', 'Pres_mean'])

for m in month:
    month_data = data[data.MONTH == m]
    temp_mean = month_data['TEMPERATURE'].mean()
    sal_mean = month_data['SALINITY'].mean()
    pres_mean = month_data['PRESSURE'].mean()
    plot_df = plot_df.append({'Month': m, 'Temp_mean': temp_mean, 'Sal_mean': sal_mean, 'Pres_mean': pres_mean}, ignore_index=True)
plot_df.to_csv('plot_data_task2.csv',index=False)

   Month  Temp_mean   Sal_mean   Pres_mean
0    Jan  15.658359  35.857128  379.147708
1    Feb  16.169087  35.861502  345.983732
2    Mar  15.529192  35.832658  380.610202
3    Apr  15.053097  35.717286  387.765885
4    May  14.698884  35.702989  409.554378
5    Jun  14.636466  35.650008  401.999765
6    Jul  14.520522  35.667869  414.870650
7    Aug  14.492624  35.586341  398.169160
8    Sep  14.230030  35.603573  411.892563
9    Oct  13.891125  35.583733  418.845571
10   Nov  14.062022  35.603280  410.267654